In [2]:
import polars as pl
from schema import *
operations = pl.read_parquet("operations.parquet").sort(datetime_cn).with_columns(pl.col(amount_cn).cum_sum().alias(amount_cum_sum_cn)).with_columns(
    pl.col(amount_cn).cast(pl.Float64),
    pl.col(amount_cum_sum_cn).cast(pl.Float64),
)
operations

shape: (7, 7)
┌─────────────────┬─────────┬────────────────┬──────┬────────────┬────────────────┬────────────────┐
│ datetime        ┆ amount  ┆ description    ┆ debt ┆ ope_source ┆ ope_type       ┆ amount_cum_sum │
│ ---             ┆ ---     ┆ ---            ┆ ---  ┆ ---        ┆ ---            ┆ ---            │
│ datetime[μs]    ┆ f64     ┆ str            ┆ i64  ┆ str        ┆ str            ┆ f64            │
╞═════════════════╪═════════╪════════════════╪══════╪════════════╪════════════════╪════════════════╡
│ 2024-12-15      ┆ 5000.0  ┆ Credit card    ┆ 0    ┆ loan       ┆ deposit        ┆ 5000.0         │
│ 00:00:00        ┆         ┆ 1243           ┆      ┆            ┆                ┆                │
│ 2024-12-20      ┆ 25000.0 ┆ Credit card    ┆ 0    ┆ loan       ┆ down payment   ┆ 30000.0        │
│ 00:00:00        ┆         ┆ 1243           ┆      ┆            ┆                ┆                │
│ 2024-12-20      ┆ 86000.0 ┆ Bank transfer  ┆ 0    ┆ loan       ┆ down payment   ┆ 116000.0       │
│ 00:00:00        ┆         ┆                ┆      ┆            ┆                ┆                │
│ 2025-01-16      ┆ -622.39 ┆ Intereses no   ┆ null ┆ loan       ┆ monthly_intere ┆ 115377.61      │
│ 00:00:00        ┆         ┆ reales         ┆      ┆            ┆ sts            ┆                │
│ 2025-01-16      ┆ -252.82 ┆ Intereses      ┆ null ┆ loan       ┆ monthly_intere ┆ 115124.79      │
│ 00:00:00        ┆         ┆                ┆      ┆            ┆ sts            ┆                │
│ 2025-01-16      ┆ 3075.47 ┆ null           ┆ null ┆ loan       ┆ monthly_paymen ┆ 118200.26      │
│ 00:00:00        ┆         ┆                ┆      ┆            ┆ t              ┆                │
│ 2025-01-20      ┆ -2200.0 ┆ null           ┆ null ┆ busyness   ┆ maintenance    ┆ 116000.26      │
│ 00:00:00        ┆         ┆                ┆      ┆            ┆                ┆                │
└─────────────────┴─────────┴────────────────┴──────┴────────────┴────────────────┴────────────────┘

In [4]:
# from datetime import datetime
# from schema import *
#
# pl.concat([operations, pl.DataFrame([
#     {
#         datetime_cn: datetime(year=2025, month=1, day=16),
#         amount_cn: -622.39,
#         description_cn: "Intereses no reales",
#         debt_cn: None,
#         ope_source_cn: ope_source_loan_cv,
#         ope_type_cn: monthly_interests_cv,
#         amount_cum_sum_cn: 0.0,
#     },
#     {
#         datetime_cn: datetime(year=2025, month=1, day=16),
#         amount_cn: -301.00 + 48.18,
#         description_cn: "Intereses",
#         debt_cn: None,
#         ope_source_cn: ope_source_loan_cv,
#         ope_type_cn: monthly_interests_cv,
#         amount_cum_sum_cn: 0.0,
#     },
#     {
#         datetime_cn: datetime(year=2025, month=1, day=16),
#         amount_cn: 3_075.47,
#         description_cn: None,
#         debt_cn: None,
#         ope_source_cn: ope_source_loan_cv,
#         ope_type_cn: monthly_payment_cv,
#         amount_cum_sum_cn: 0.0,
#     },
#     {
#         datetime_cn: datetime(year=2025, month=1, day=20),
#         amount_cn: -2_200.00,
#         description_cn: None,
#         debt_cn: None,
#         ope_source_cn: ope_source_busyness_cv,
#         ope_type_cn: maintenance_cv,
#         amount_cum_sum_cn: 0.0,
#     }
# ])]).drop(amount_cum_sum_cn).sort(datetime_cn).write_parquet("operations.parquet")